@import '../../styles/theme';

.slider__container {
  position: relative;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  &__card {
    width: 100%;
  }

  &__button-left {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: -35px;
  }

  &__button-right {
    position: absolute;
    z-index: 2;
    top: 45%;
    right: -35px;
  }

  &__wrapper {
    display: flex;
    transition: transform 0.5s ease;

    .product-card {
      height: fit-content;
    }
  }

  .slider__image {
    margin-top: 10px;
    img {
      height: 80px;
      width: 80px;
    }
  }

  .slider__content {
      flex: 1;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .slider__title {
        font-family: var(--heading-font);
        font-size: var(--font-size-large);
        color: var(--heading-color);
        margin-bottom: 10px;
      }

      & .slider__text {
        font-family: var(--default-font);
        font-size: var(--font-size-medium);
        color: var(--default-color);
        margin-bottom: 20px;
      }

      & .slider__button {
        font-family: var(--default-font);
        font-size: var(--font-size-small);
        color: var(--contrast-color);
        background-color: var(--accent-color);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--accent-color);
        }
      }
    
  }

  &__slide {
    display: flex;
    flex: 1 0 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease;

    &--1 {
      flex-basis: 100%;
    }

    &--2 {
      flex-basis: 50%;
    }

    &--3 {
      flex-basis: 100%;
      
      @include media-query(medium) {
        flex-basis: 50%;      
      }
      @include media-query(large) {
        flex-basis: 33.33%;
      }
    }

    &--4 {
      flex-basis: 25%;
    }
  }
  .image-slider {
    position: absolute;
    top: 0;
    left: 0;
  }
}
