@use "../../styles/theme" as *;

.google-modal-container {
  .modal-content {
    padding: 0;
    padding-bottom: 100px;
    .google-modal-content {
      padding: 20px 35px;

      .google-upload-wrapper {
        background: white;
        max-height: 50vh;
        overflow-y: auto;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        box-shadow: 0 4px 8px #80808030;

        .google-upload-item {
          padding: 10px;
          border-bottom: 1px solid #cbcbcb;
          cursor: pointer;
          &:hover {
            box-shadow: 0 4px 8px #80808030;
            background-color: #eeeeee;
          }
          &.--disabled {
            background-color: #dbdbdb;
            cursor: not-allowed;
          }
          &.--selected {
            background-color: #e3fde3;
          }
        }
        .table-item {
          display: none;
          @include media-query(large) {
            display: flex;
          }
        }
      }

      .google-upload-actions {
        margin-top: 40px;
        margin-bottom: 10px;
      }

      .google-upload-header {
        padding: 15px 10px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        background: var(--accent-color);
      }
    }
  }
  .google-container-actions {
    padding: 20px 35px;
    box-shadow:-3px -8px 8px rgba(128, 128, 128, 0.1882352941);
    background: rgb(255, 255, 255);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
  .table-item {
    display: none;
    @include media-query(large) {
      display: flex;
    }
  }
}
