@use "../../styles/theme" as *;

.tool-conversion-form {
  border-radius: var(--border-radius);
  background: var(--accent-color);
  background-image: var(--linear-background);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include media-query(large) {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-family: var(--default-font);
    font-size: var(--font-size-medium);
    transition: all 0.3s ease;

    box-shadow: 0 2px 4px var(--shadow-color);
    height: 100%;
  }
  .tool-heading__to {
    .icon--medium {
      color: var(--contrast-color);
    }
  }
}
.hero-pill {
  margin-bottom: 8px;
  padding: 5px 15px;
  background: var(--accent-color);
  background-image: var(--linear-background);
  width: max-content;
  color: var(--contrast-color);
  font-weight: bold;
  border-radius: 10px;
}
