@use "../../styles/theme" as *;

.tool-conversion-form {
  .tool-heading__to {
    .icon--medium {
      color: var(--default-color);
    }    
  }
  border-radius: var(--border-radius);
  background-color: #47af6b;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include media-query(large) {
    width: 100%;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-family: var(--default-font);
    font-size: var(--font-size-medium);
    transition: all 0.3s ease;

    box-shadow: 0 2px 4px var(--shadow-color);
    height: 100%;

    .tool-heading__to {
      .icon--medium {
        color: var(--contrast-color);
      }    
    }
  }
}
