@import '../../styles/theme';

.form-field {
    .xs--hidden {
        display: none !important;
        @include media-query(large) {
            display: block !important;
        }
    }
    .submit-button {
        padding: var(--input-padding);
        color: var(--button-color);
        font-size: var(--input-font-size);
        background-color: var(--accent-color);
        border-color: var(--accent-color);

        &:hover {
            background-color: var(--accent-color-darken);
            border-color: transparent;
            font-weight: 500;
        }
    }
}