.u-p0 {
  padding: 0px;
}

.u-pt0 {
  padding-top: 0px;
}

.u-pr0 {
  padding-right: 0px;
}

.u-pb0 {
  padding-bottom: 0px;
}

.u-pl0 {
  padding-left: 0px;
}

.u-p1 {
  padding: 8px;
}

.u-pt1 {
  padding-top: 8px;
}

.u-pr1 {
  padding-right: 8px;
}

.u-pb1 {
  padding-bottom: 8px;
}

.u-pl1 {
  padding-left: 8px;
}

.u-p2 {
  padding: 16px;
}

.u-pt2 {
  padding-top: 16px;
}

.u-pr2 {
  padding-right: 16px;
}

.u-pb2 {
  padding-bottom: 16px;
}

.u-pl2 {
  padding-left: 16px;
}

.u-p3 {
  padding: 24px;
}

.u-pt3 {
  padding-top: 24px;
}

.u-pr3 {
  padding-right: 24px;
}

.u-pb3 {
  padding-bottom: 24px;
}

.u-pl3 {
  padding-left: 24px;
}

.u-p4 {
  padding: 32px;
}

.u-pt4 {
  padding-top: 32px;
}

.u-pr4 {
  padding-right: 32px;
}

.u-pb4 {
  padding-bottom: 32px;
}

.u-pl4 {
  padding-left: 32px;
}

.u-p5 {
  padding: 40px;
}

.u-pt5 {
  padding-top: 40px;
}

.u-pr5 {
  padding-right: 40px;
}

.u-pb5 {
  padding-bottom: 40px;
}

.u-pl5 {
  padding-left: 40px;
}

.u-m0 {
  margin: 0px;
}

.u-mt0 {
  margin-top: 0px;
}

.u-mr0 {
  margin-right: 0px;
}

.u-mb0 {
  margin-bottom: 0px;
}

.u-ml0 {
  margin-left: 0px;
}

.u-m1 {
  margin: 8px;
}

.u-mt1 {
  margin-top: 8px;
}

.u-mr1 {
  margin-right: 8px;
}

.u-mb1 {
  margin-bottom: 8px;
}

.u-ml1 {
  margin-left: 8px;
}

.u-m2 {
  margin: 16px;
}

.u-mt2 {
  margin-top: 16px;
}

.u-mr2 {
  margin-right: 16px;
}

.u-mb2 {
  margin-bottom: 16px;
}

.u-ml2 {
  margin-left: 16px;
}

.u-m3 {
  margin: 24px;
}

.u-mt3 {
  margin-top: 24px;
}

.u-mr3 {
  margin-right: 24px;
}

.u-mb3 {
  margin-bottom: 24px;
}

.u-ml3 {
  margin-left: 24px;
}

.u-m4 {
  margin: 32px;
}

.u-mt4 {
  margin-top: 32px;
}

.u-mr4 {
  margin-right: 32px;
}

.u-mb4 {
  margin-bottom: 32px;
}

.u-ml4 {
  margin-left: 32px;
}

.u-m5 {
  margin: 40px;
}

.u-mt5 {
  margin-top: 40px;
}

.u-mr5 {
  margin-right: 40px;
}

.u-mb5 {
  margin-bottom: 40px;
}

.u-ml5 {
  margin-left: 40px;
}

.u-m6 {
  margin: 48px;
}

.u-mt6 {
  margin-top: 48px;
}

.u-mr6 {
  margin-right: 48px;
}

.u-mb6 {
  margin-bottom: 48px;
}

.u-ml6 {
  margin-left: 48px;
}

.u-m7 {
  margin: 56px;
}

.u-mt7 {
  margin-top: 56px;
}

.u-mr7 {
  margin-right: 56px;
}

.u-mb7 {
  margin-bottom: 56px;
}

.u-ml7 {
  margin-left: 56px;
}

.u-m8 {
  margin: 64px;
}

.u-mt8 {
  margin-top: 64px;
}

.u-mr8 {
  margin-right: 64px;
}

.u-mb8 {
  margin-bottom: 64px;
}

.u-ml8 {
  margin-left: 64px;
}

.u-m9 {
  margin: 72px;
}

.u-mt9 {
  margin-top: 72px;
}

.u-mr9 {
  margin-right: 72px;
}

.u-mb9 {
  margin-bottom: 72px;
}

.u-ml9 {
  margin-left: 72px;
}

.u-m10 {
  margin: 80px;
}

.u-mt10 {
  margin-top: 80px;
}

.u-mr10 {
  margin-right: 80px;
}

.u-mb10 {
  margin-bottom: 80px;
}

.u-ml10 {
  margin-left: 80px;
}

.light-mode, body.light-mode {
  background-color: var(--background-color);
  color: var(--default-color);
}

.dark-mode, body.dark-mode {
  background-color: var(--background-color);
  color: var(--default-color);
}

.bg-color-primary {
  background-color: var(--default-color);
}

.bg-color-secondary {
  background-color: color-mix(in srgb, var(--default-color), transparent 94%);
}

.bg-color-success {
  background-color: var(--accent-color);
}

.bg-color-danger {
  background-color: var(--nav-hover-color);
}

.bg-color-warning {
  background-color: var(--nav-dropdown-hover-color);
}

.bg-color-info {
  background-color: var(--nav-dropdown-color);
}

.bg-color-light {
  background-color: var(--background-color);
}

.bg-color-dark {
  background-color: var(--nav-dropdown-background-color);
}

.max-height {
  height: 100%;
}

.full-screen-height {
  min-height: 100vh !important;
}

.form-field .xs--hidden {
  display: none !important;
}
@media (min-width: 992px) {
  .form-field .xs--hidden {
    display: block !important;
  }
}
.form-field .submit-button {
  padding: var(--input-padding);
  color: var(--button-color);
  font-size: var(--input-font-size);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.form-field .submit-button:hover {
  background-color: var(--accent-color-darken);
  border-color: transparent;
  font-weight: 500;
}

/*# sourceMappingURL=FormField.css.map */
