@import '../../styles/media-queries';

.filters-container {

    &__desktop {
        display: none;
        @include media-query(medium) {
            display: block;
        }
    }
    .form-field {
        padding: 0;
    }
    .grid-item {
        padding: 10px;
    }

    &__mobile {
        display: block;
        .grid-item {
            padding: 0px;
            padding-bottom: 10px;
        }
        @include media-query(medium) {
            display: none;
        }

        .filters-button {
            padding: var(--input-padding);
        }
    }

}

.modal-filters-container {
    width: 100%;
    top: 0;
    height: 100%;
    bottom: unset;
    overflow: auto;

    @include media-query(large) {
        overflow: unset;   
    }
    .modal-content {
        margin: auto;
        width: 100%;
        height: unset;
        border: none;
        border-radius: var(--input-border-radius);
        margin-bottom: 105px;
        @include media-query(large) {
            margin: auto;
        }
    }
    .modal-close-button {
        display: none;
    }
    .form-field {
        .grid-item {
            padding: 10px;
        }
    }
    .filters-actions {
        z-index: 100;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: -3px -1px 25px 1px var(--shadow-color);
        background-color: var(--background-color);

    }
}