.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  
    &__input {
      display: none;
    }
  
    &__checkmark {
      width: 16px;
      height: 16px;
      border: 2px solid var(--default-color);
      border-radius: 50%;
      display: inline-block;
      position: relative;
      background: var(--background-color);
    }
  
    &__input:checked + &__checkmark {
      background: var(--accent-color);
      border-color: var(--accent-color);
    }
  
    &__input:checked + &__checkmark:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--contrast-color);
    }
  
    &__label {
      margin-left: 8px;
      font-size: 14px;
    }
  }
  