@use '../../styles/media-queries' as *;

.tool-container {
    background: var(--background-color);
    background-size: 400% 400%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 100px;

	.tool-heading {
		.heading {
			margin: 0;
			padding: 5px;
		}
		.text {
			line-height: 1.6;
		}
		.conversion-heading-bottom, .hero-description {
			display: none;
			@include media-query(medium) {
				display: block;
			}
		}
	}
}
