/* TableOfContents.css */
.toc-container {
    position: sticky;
    top: 20px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(45, 125, 76, 0.05);
    border-radius: 5px;
  }
  
  .toc-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .toc-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .toc-item {
    margin-bottom: 10px;
  }
  
  .toc-item a {
    text-decoration: none;
    .text--medium {
      color: var(--accent-color);

    }
  }
  
  .toc-item a:hover {
    text-decoration: underline;
  }
  
  .toc-level-2 { margin-left: 0; }
  .toc-level-3 { margin-left: 15px; }
  .toc-level-4 { margin-left: 30px; }
  .toc-level-5 { margin-left: 45px; }
  .toc-level-6 { margin-left: 60px; }
  
  .toc-active > a {
    font-weight: bold;
    color: #007bff;
  }