@import "../../styles/theme.scss";


.drag-and-drop-container {
  width: 100%;
  min-height: 150px;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--font-color);
  font-family: var(--default-font);
  font-size: var(--font-size-medium);
  transition: all 0.3s ease;
  padding-top: 15px;
  box-shadow: 0 2px 4px var(--shadow-color);

  &.dragging {
    background-color: #{lighten(#51975D, 30%)};
    border: none;
    outline: 2px dotted var(--accent-color);

    .drag-zone {
      align-items: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      .icon {
        color: var(--default-font);
      }
    }
  }

  &.loading {
    background: linear-gradient(87deg, #47af6b, #3cb73c, var(--accent-color));
    background-size: 200% 200%;
    animation: gradient-animation 3s ease infinite alternate-reverse;
  }

  .instructions {
    text-align: center;
    margin-bottom: 20px;
  }

  .upload-button-container {
    margin: 15px;
    margin-bottom: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text.text--small {
    color: var(--contrast-color);
  }

  .upload-button {
    border: 2px solid transparent;
    text-align: center;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    width: 90%;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff !important;
    padding: 3px 15px;
    transition: all 0.3s ease;

    &:disabled {
      cursor: not-allowed;
      background-color: #4b4b4b;

    }
  
    &:focus {
      outline: none;
      border-color: var(--contrast-color);
      box-shadow: 0 0 0 3px rgba(var(--accent-color-rgb), 0.5);
    }
  
    &:hover {
      background-color: #{lighten(#000000, 20%)};
    }
  
    &:active {
      transform: translateY(1px);
    }
  
    .button__text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    svg {
      margin-right: 10px;
      font-size: 2rem;
    }
  
    @include media-query(medium) {
      min-width: 172px;
      max-width: 350px;
      padding: 5px 30px;
      
      svg {
        font-size: 2.5rem;
      }
    }
  
    .divider {
      background-color: rgba(255, 255, 255, 0.5);
      width: 1px;
      height: 30px !important;
      margin: 0 15px;
    }
  }

  .format-selector {
    margin-top: 20px;

    select {
      margin-left: 10px;
      padding: 5px;
      font-size: var(--input-font-size);
    }
  }
}

.error {
  color: var(--error-color);
  margin-top: 10px;
}

@keyframes progress {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.files-list {
  width: 100%;
}
@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
