@import '../../styles/variables'; // Import your SCSS variables

.password-input {
  position: relative;

  .password-input__toggle-button {
    position: absolute;
    right: 0.75rem;
    top: 63%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--default-color);
    font-size: 1.5rem;

    &:hover {
      color: var(--accent-color);
    }
  }
}
